// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";
@import "mixins";

.action-steps-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.small-text {
  font-size: 14px;
}

.label-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
}

.label-value:last-child {
  border-bottom: none;
}

.label-value span {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.label-value .fw-bold {
  margin-right: 10px;
}

.action-button {
  background-color: $global-background;
  padding: 3px 12px;
  min-height: 25px;
  min-width: 44px;
  border-radius: 19px;
  border: 1px solid $global-base-border-color;
  vertical-align: center;
  cursor: pointer;

  .content {
    display: flex;
  }

  .icon {
    flex-shrink: 0;
  }

  .label {
    font-size: $global-font-size;
    line-height: 20px;
    margin-left: 5px;
    display: none;
    overflow: hidden;
  }

  &:hover {
    background-color: $global-background;
    color: $global-text-color;
    border-color: $global-primary-color;
    max-width: fit-content;

    @include grow-animation();

    .label {
      display: inline-block;
    }
  }

  +.action-button {
    margin-left: 20px;
  }

  &[disabled] {
    opacity: 0.5;

    &:hover {
      border-color: $global-base-border-color;
    }
  }
}

.overflow-x-auto {
  overflow-x: auto;
}

.text-xs-custom {
  font-size: 0.75rem;
}

.text-gray-700-custom {
  color: #4B5563;
}

.social-risk-assessment-item {
  border-radius: 8px;
}

.social-risk-assessment-item.active {
  background-color: #f8f9fa;
  border-left: 3px solid #0d6efd !important;
  color: #212529;
}

.social-risk-assessment-item.active .text-muted {
  color: #6c757d !important;
}

.bg-gray-50-custom {
  background-color: #F9FAFB;
}

.floating-label {
  position: relative;
}

.floating-input:focus,
.floating-input:not(:placeholder-shown) {
  font-size: 0.75rem;
  top: -0.5rem;
}


.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 200px;
  max-width: 350px;
  z-index: 1051;
}

.toast .close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.toast--notice {
  background-color: #007bff;
  color: #fff;
  border-color: #0069d9;
}

.toast--success {
  background-color: #28a745;
  color: #fff;
  border-color: #218838;
}

.toast--error {
  background-color: #dc3545;
  color: #fff;
  border-color: #c82333;
}

.toast--alert {
  background-color: #ffc107;
  color: #212529;
  border-color: #e0a800;
}


@media (min-width: 576px) {
  .rounded-lg-custom {
      border-radius: 3rem;
  }
}

@media (min-width: 600px) {
  .rounded-lg-custom {
      border-radius: 1rem;
  }
}
